.margins-16 {
    margin: 16px;
}

.margin-bottom-16 {
    margin-bottom: 16px;
}

.margin-left-16 {
    margin-left: 16px;

}

.to-modal-card-right {
    margin-left: auto;
}

hr {
	background-color: #f5f5f5;
	border: none;
	display: block;
	height: 2px;
	margin: 1.5rem 0;
}
