[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
codegen = "==1.0"
coverage = "==5.0a2"
djangorestframework = "==3.8.2"
patterns = "==0.3"
pytz = "==2018.5"
Django = "==2.1.1"

[dev-packages]

[requires]
python_version = "3.7"
