{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/registration.css' %}">

    <div class="container">
        {% if error == True %}
            <div class="notification is-warning login-box">
                Invalid credentials. Try it again.
            </div>
        {% endif %}
        <form method="post">{% csrf_token %}
            <div class="box login-box">
                <label class="label" for="username"><b>Username</b></label>
                <input class="input" type="text" placeholder="Enter Username" name="username" required>

                <label class="label" for="password"><b>Password</b></label>
                <input class="input" type="password" placeholder="Enter Password" name="password" required>

                <button class="button is-primary" type="submit">Login</button>
                <a class="button" href="/accounts/register">Or register</a>
            </div>
        </form>

    </div>
{% endblock %}

