{% extends 'base.html' %}


{% block content %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

    {% load static %}
    <script src="{% static 'js/refresh_script.js' %}"></script>
    <script src="{% static 'js/add_note_script.js' %}"></script>
    <script src="{% static 'js/notifications_script.js' %}"></script>
    <script src="{% static 'js/open_note_script.js' %}"></script>

    {% include "notes/navigation.html" %}

    <div id="information_container" class="container margin-bottom-16">

    </div>

    <div id="notes_container" class="columns margins-16">

        <div class="column">
            <div id="tags_box" class="box">

                <h4 class="title is-4">Filters</h4>
                <hr>

                <aside class="menu">
                    <p class="menu-label">
                        Tags
                    </p>
                    <ul class="menu-list">
                        {% for tag in tags %}
                            {% include "notes/tag_row_filter.html" with tag=tag %}
                        {% endfor %}
                    </ul>
                </aside>
            </div>
        </div>

        <div class="column is-two-thirds">
            {% for note in notes %}
                {% include "notes/note_row.html" with note=note %}
            {% endfor %}
        </div>
    </div>

    <script>
        openRefreshSocket()
    </script>

{% endblock %}