{% block content %}

    <nav class="navbar is-primary card margin-bottom-16">
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="">
                    <p class="has-text-weight-bold">Notes</p>
                </a>

                <div class="navbar-item field is-grouped">
                    <p class="control is-expanded">
                        <input class="input" type="text" placeholder="Find notes">
                    </p>
                    <p class="control">
                        <a class="button is-warning">
                            Search
                        </a>
                    </p>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-grouped">

                        <p class="control">
                            <a id="new_note_button" class="button is-warning" onclick="add_new_note()">
                            <span class="icon">
                                <i class="fas fa-plus"></i>
                            </span>
                                <span>
                                New note
                            </span>
                            </a>
                        </p>

                        <p class="control">
                            <a id=refresh_button class="button is-info" onclick="refresh_notes()">
                            <span class="icon">
                                <i class="fas fa-sync"></i>
                            </span>
                                <span>
                                Refresh
                            </span>
                            </a>
                        </p>

                        <div class="dropdown is-hoverable margin-left-16 is-right">
                            <div class="dropdown-trigger">

                                <!--suppress HtmlUnknownTarget -->
                                <a class="button" aria-haspopup="true" aria-controls="dropdown-menu4"
                                   href="/accounts/edit">
                                    <span class="icon is-small">
                                        <i class="fas fa-user"></i>
                                    </span>
                                    <span>Account</span>
                                </a>
                            </div>

                            <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                                <div class="dropdown-content">

                                    <div class="dropdown-item">
                                        <p>{{ user.username }}</p>
                                    </div>

                                    <hr class="dropdown-divider">

                                    <!--suppress HtmlUnknownTarget -->
                                    <a class="dropdown-item" href="/accounts/edit">
                                        <span class="icon is-small">
                                            <i class="far fa-edit"></i>
                                        </span>
                                        <span>
                                            Edit account
                                        </span>
                                    </a>

                                    <!--suppress HtmlUnknownTarget -->
                                    <a class="dropdown-item" href="/accounts/logout">
                                        <span class="icon is-small">
                                            <i class="fas fa-user" style="color: red;"></i>
                                        </span>
                                        <span style="color: red">
                                            Logout
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </nav>

{% endblock content %}