{% block content %}
    <div class="card margin-bottom-16" onclick="open_note({{ note.id }})">
        <div class="card-content">
            <p class="title">
                {{ note.title }}
            </p>
            <p class="subtitle">
                {{ note.body }}
            </p>

            <div class="tags">
                {% for tag in note.tags %}
                    {% include 'notes/tag_row.html' with tag=tag %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}